<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
    </head>

    <body>
        <h1>Product List</h1>
        <ul>
            <!-- Loop through the list of products and display each product -->
            <li th:each="product : ${products}">
                <span th:text="'Name: ' + ${product.name}"></span>,
                <span th:text="'Price: ' + ${product.price}"></span>
            </li>
        </ul>
    </body>

</html>